.container {
  border: 1rem solid rgb(39, 49, 71);
  position: fixed;
  top: 10rem;

  margin: auto;
  width: 72%;
  height: 40%;
  background-color: white;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
}

.buttonContainer {
  display: flex;
  align-content: space-between;
}

@media only screen and (min-width: 768px) {
  .container {
    border: 3rem solid rgb(39, 49, 71);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 50%;
    height: 50%;
  }
}
